@font-face {
    font-family:regular ;
    src: url(./fonts/RobotoCondensed-Regular.ttf);
}
@font-face {
    font-family: bold ;
    src: url(./fonts/RobotoCondensed-Bold.ttf);
}
body{
    margin: 0;
    padding: 0;

}
.searchbar{
    border: 1px solid;
    height:7vh;
    display: flex;
    
}
.logo{
    display: flex;
    flex-direction: row;
    border: 1px solid;
    width: 15vw;
    height: 7vh;
    justify-content:center;

}
.menu{
    border: 1px solid red;
    width: 30%;
}
#dropdown{
    width: 235px;
    border: 1px solid lightgray;
}
#btn{
    width: 62px;
    height: 45px;
    margin: -0.5px;
    border: 1px solid;
}
.image{
    border: 1px solid;
}
.searchitem{
    width: 70vw;
    border: 1px solid;
    height: 7vh;
    display: flex;
}
.sidebutton{
    width: 15vw;
    border: 1px solid;
    height: 7vh;
    justify-content:space-around;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.pic img{
    width: 35px;
    height: 35px;
    border-radius: 100px;
    border: none;
}
.inputbar {
    /* border: 1px solid; */
    width: 100%;
    height: 6vh;
    display: flex;
    flex-direction: row;

}
.inputbar input{
    width: 600px;
    margin: 5px;
    border: none;
    /* border: 1px solid lightgray; */
    /* border: 1px solid red; */
    border-radius: 4px;
}
.both{
    border: 1px solid grey;
    height: 5vh;
    width: 59%;
    margin: 2px;
    margin-left: 150px;
    height: 6vh;
    display: flex;
    flex-direction: row;
}
.both button{
    height:5.7vh;
    width:50px;
    border-right: 1px solid grey;
    background-color:lightgray;
}
.img {
    /* border: 1px solid red; */
    margin: 8px;
    height: 4vh;
    margin-left: 50px;


}
.img img{
    width: 30px;
    height: 30px;
    background-color: red;
}
.main{
    display: flex;
    flex-direction: row;
    border: 1px solid purple;
    /* flex-wrap: wrap; */
}
.rightside{
    width: 15vw;
    border: 1px solid;
    height: auto;
}
.left{
    border: 1px solid red;
    width: 4.5vw;
    

}
.leftside{
    width: 4.5vw;
    border: 1px solid black;
    display: block;
    justify-content: center;
    align-items: center;
}
.icon{
    /* border: 1px solid red; */
    height: auto;
    width: 4.1vw;
    margin-top: 10px;
    margin-left: 1px;
    /* border: 1px solid red; */
    padding-top: 10px;
    padding-left: 10px;
    font-size: 12px;
}
.icon:hover {
    background-color:rgb(241, 239, 239);
    width: 9vh;
    text-align: center;
    padding-right: 25px;
    margin-right: 10px;


}
#svg{
    /* border: 1px solid; */
    width: 30px;
    height: 30px;
    border: 1px solid;
}
.icon2{
    /* border: 1px solid red; */
    height: auto;
    width: 3vw;
    margin-top: 10px;
    margin-left: -0.5px;
    padding-top: 8px;
    padding-left: 7px;
    font-size: 12px;
}
.icon2:hover {
    background-color:rgb(241, 239, 239);
    width: 9vh;
    text-align: center;
    padding-left: 7px;
    padding-right: 25px;

}
#svg2{
    /* border: 1px solid red; */
    width: 30px;
    height: 30px;
    border: 1px solid;
}
.icon3{
    /* border: 1px solid red; */
    height: auto;
    width: 3vw;
    margin-top: 10px;
    margin-left: 1px;
    padding-top: 0px;
    padding-left: 1px;
    font-size: 10px;
    text-align: center;

}
.icon3:hover {
    background-color:rgb(241, 239, 239);
    width: 9vh;
    text-align: center;
    padding-right: 20px;


}
#svg3{
    /* border: 1px solid red; */
    width: 30px;
    height: 30px;
    border: none;
}
.icon4{
    /* border: 1px solid red; */
    height: auto;
    width: 3vw;
    margin-top: 10px;
    margin-left: 1px;
    padding-top: 1px;
    padding-left: 4px;
    font-size: 12px;
    text-align: center;

}
.icon4:hover {
    background-color:rgb(241, 239, 239);
    width: 9vh;
    text-align: center;
    padding-right: 20px;


}
#svg4{
    /* border: 1px solid red; */
    width: 30px;
    
    height: 30px;
}
.icon5{
    /* border: 1px solid red; */
    height: auto;
    width: 4.1vw;
    margin-top: 10px;
    margin-left: 1px;
    padding-top: 1px;
    padding-right: 20px;
    font-size: 12px;
    text-align: center;

}
.icon5:hover{
    background-color:rgb(241, 239, 239);
    width: 9vh;
    text-align: center;
    padding-right: 20px;
    


}
#svg5{
    /* border: 1px solid red; */
    width: 30px;
    height: 30px;
}


 
.sub{
    border: 1px solid;
    padding: 5px;
}
.ary{
    border: 1px solid;
    display: flex;
    text-align: center;
    padding: 5px;
    width: 100%;
}
.svg{
    width: 20px;
    height: 25px;
    border: 1px solid;
}
.text{
    border: 1px solid;
    width: 100%;
}

#ary,.ary::before{
    content: "";
    background-image: url(./assets/channels4_profile.jpg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position:5px;
}
.ashqeen{
    border: 1px solid;
    text-align: center;
    width:100%;
    margin-top: 5px;
}
#Ash,.ashqeen{
    content: "";
    background-image: url(./assets/ashqeen.jpg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position:5px;

}
.text2{
    width: 100%;
    /* border: 1px solid; */
}
.abhi{
    border: 1px solid;
    text-align: center;
    width:100%;
    margin-top: 5px;
}
#abhi,.abhi{
    content: "";
    background-image: url(./assets/abhio.jpg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position:5px;

}
.text3{
    width: 100%;
    /* border: 1px solid; */
}
.akash{
    border: 1px solid;
    text-align: center;
    width:100%;
    margin-top: 5px;
}
#akash,.akash{
    content: "";
    background-image: url(./assets/akash.jpg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position:5px;

}
.text4{
    width: 100%;
    /* border: 1px solid; */
}
.alex{
    border: 1px solid;
    text-align: center;
    width:100%;
    margin-top: 5px;
}
#alex,.alex{
    content: "";
    background-image: url(./assets/alex.jpg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position:5px;

}
.text5{
    width: 100%;
    /* border: 1px solid; */
}
.ali{
    border: 1px solid;
    text-align: center;
    width:100%;
    margin-top: 5px;
}
#ali,.ali{
    content: "";
    background-image: url(./assets/ali.jpg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position:5px;

}
.text6{
    width: 100%;
    /* border: 1px solid; */
}
.alpha{
    border: 1px solid;
    text-align: center;
    width:100%;
    margin-top: 5px;
}
#alpha,.alpha{
    content: "";
    background-image: url(./assets/aplha.jpg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position:5px;

}
.text7{
    width: 100%;
    /* border: 1px solid; */
}
.show{
    border: 1px solid;
    text-align: center;
    width:100%;
    margin-top: 5px;
}
#svg2{
    /* border: 1px solid; */
    margin: 2px;


}
.text8{
    width: 100%;
    /* border: 1px solid; */
}

.home{
    border: 1px solid;
    display: flex;
    width:100%;
    margin-top: 5px;
}
#svg3{
    /* border: 1px solid; */
    margin-left: 10px;
    margin-top: 4px;
    border: 1px solid;


} 
.text9{
    border: 1px solid;
    padding-left: 20px;
    width: 50%;
    margin: 1px;
    width: 100%;
}
.explore{
    border: 1px solid;
    display: flex;
    width:100%;
    margin-top: 5px;
}
#svg4{
    /* border: 1px solid; */
    margin-left: 10px;
    margin-top: 4px;
    border: 1px solid;


} 
.text10{
    border: 1px solid;
    padding-left: 20px;
    width: 50%;
    margin: 1px;
    width: 100%;
}
.shorts{
    border: 1px solid;
    display: flex;
    width:100%;
    margin-top: 5px;
}
#svg5{
    /* border: 1px solid; */
    margin-left: 10px;
    margin-top: 4px;
    border: 1px solid;


} 
.text11{
    border: 1px solid;
    padding-left: 20px;
    width: 50%;
    margin: 1px;
    width: 100%;
}
.subs{
    border: 1px solid;
    display: flex;
    width:100%;
    margin-top: 5px;
}
#svg7{
    /* border: 1px solid; */
    margin-left: 10px;
    margin-top: 4px;
    border: 1px solid;


} 
.text12{
    border: 1px solid;
    padding-left: 20px;
    width: 50%;
    margin: 1px;
    width: 100%;
}
.lib{
    border: 1px solid;
    display: flex;
    width:100%;
    margin-top: 5px;
}
#svg8{
    /* border: 1px solid; */
    margin-left: 10px;
    margin-top: 4px;
    border: 1px solid;


} 
.text13{
    border: 1px solid;
    padding-left: 20px;
    width: 50%;
    margin: 1px;
    width: 100%;
}
.his{
    border: 1px solid;
    display: flex;
    width:100%;
    margin-top: 5px;
}
#svg9{
    /* border: 1px solid; */
    margin-left: 10px;
    margin-top: 4px;
    border: 1px solid;


} 
.text14{
    border: 1px solid;
    padding-left: 20px;
    width: 50%;
    margin: 1px;
    width: 100%;
}
.your{
    border: 1px solid;
    display: flex;
    width:100%;
    margin-top: 5px;
}
#svg10{
    /* border: 1px solid; */
    margin-left: 10px;
    margin-top: 4px;
    border: 1px solid;


} 
.text15{
    border: 1px solid;
    padding-left: 20px;
    width: 50%;
    margin: 1px;
    width: 100%;
}
.later{
    border: 1px solid;
    display: flex;
    width:100%;
    margin-top: 5px;
}
#svg11{
    /* border: 1px solid; */
    margin-left: 10px;
    margin-top: 4px;
    border: 1px solid;


} 
.text16{
    border: 1px solid;
    padding-left: 20px;
    width: 50%;
    margin: 1px;
    width: 100%;
}
.like{
    border: 1px solid;
    display: flex;
    width:100%;
    margin-top: 5px;
}
#svg12{
    /* border: 1px solid; */
    margin-left: 10px;
    margin-top: 4px;
    border: 1px solid;


} 
.text17{
    border: 1px solid;
    padding-left: 20px;
    width: 50%;
    margin: 1px;
    width: 100%;
}
.more{
    border: 1px solid;
    display: flex;
    width:100%;
    margin-top: 5px;
}
#svg13{
    /* border: 1px solid; */
    margin-left: 10px;
    margin-top: 4px;
    border: 1px solid;


} 
.text18{
    border: 1px solid;
    padding-left: 20px;
    width: 50%;
    margin: 1px;
    width: 100%;
}
.i{
    margin: 2px;
    padding: 4px;
    padding-left: 10px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
}
.live{
    display: flex;
    justify-content: space-evenly;
}
.live>svg{
    width: 20px;
    height: 20px;
    /* border: 1px solid red; */
}
.divone{
    display: flex;
    justify-content:center;
    align-items: center;
}
.one,.one svg{
    width: 50px;
    height: 30px;
    /* border: 1px solid red; */
}
.two{
/* border:1px solid red; */
width: 170px;

}
#ex{
    width: 180px;
}
.main1{

    display: flex;
    padding: 5px;
}
#expand{
    width: 400px;
    overflow-y:scroll;
    height: 600px;
}
::-webkit-scrollbar{
    width: 8px;
    border-radius: 10px;

}
::-webkit-scrollbar-thumb{
    background-color: lightgrey;
    border-radius: 10px;
}
::-webkit-scrollbar-track{
    border-radius: 10px;
}


.content{
    border: 1px solid red;
    width: 250px;
    margin: 5px;
}
.profile img{
    border: 1px solid red;
    width: 50px;
    height: 50px;
    margin: 5px;


}
.image img{
    width: 60px;
    height: 50px;
    margin: 5px;
}
#profilemenu{
    width: 200px;
}
.account{
    display: flex;
    flex-direction: row;

}
.picture{
    /* border: 1px solid red; */
    align-items: center;
}
.text{
    /* border: 1px solid red; */
    text-align: center;
    width: 150px;
}
#blue{
    color: blue;
}
.blank{
    border: 1px solid lightgray;
    height: 2px;
    width:100%;
    margin-top: 5px;
}
.midpart{
    /* border: 1px solid red; */
    width: 100vw;

    /* display: flex;
    justify-content: space-evenly; */
}
.ul{
    border: 1px solid red;
}
.ul ul{
    display:flex;
    border: 1px solid red;
    border-radius: 10px;
    margin: 2px;
}
.active{
    background-color: black;
    color: white;
    margin: 3px;
    border-radius: 20px;
    width: 60px;
    text-align: center;
}
.active:hover{
    background-color: white;
    color: black;
    box-shadow: 3px 3px 6px lightgray;

}


.div1{
    border: 1px solid lightgray;
    background-color:#fafafa;
    margin: 3px;
    border-radius: 20px;
    width: 60px;
    text-align: center;

}
.div1:hover{
    background-color: white;
    color: black;
    box-shadow: 3px 3px 6px lightgray;

}


.div2{
    border: 1px solid lightgray;
    background-color:#fafafa;
    margin: 3px;
    border-radius: 20px;
    width: 100px;
    text-align: center;

}
.div2:hover{
    background-color: white;
    color: black;
    box-shadow: 3px 3px 6px lightgray;

}


.div3{
    border: 1px solid lightgray;
    background-color:#fafafa;
    margin: 3px;
    border-radius: 20px;
    width: 190px;
    text-align: center;

}
.div3:hover{
    background-color: white;
    color: black;
    box-shadow: 3px 3px 6px lightgray;

}


.div4{
    border: 1px solid lightgray;
    background-color:#fafafa;
    margin: 3px;
    border-radius: 20px;
    width: 100px;
    text-align: center;

}
.div4:hover{
    background-color: white;
    color: black;
    box-shadow: 3px 3px 6px lightgray;

}


.div5{
    border: 1px solid lightgray;
    background-color:#fafafa;
    margin: 3px;
    border-radius: 20px;
    width: 140px;
    text-align: center;

}
.div5:hover{
    background-color: white;
    color: black;
    box-shadow: 3px 3px 6px lightgray;

}


.div6{
    border: 1px solid lightgray;
    background-color:#fafafa;
    margin: 3px;
    border-radius: 20px;
    width: 80px;
    text-align: center;

}
.div6:hover{
    background-color: white;
    color: black;
    box-shadow: 3px 3px 6px lightgray;

}


.div7{
    border: 1px solid lightgray;
    background-color:#fafafa;
    margin: 3px;
    border-radius: 20px;
    width: 80px;
    text-align: center;

}
.div7:hover{
    background-color: white;
    color: black;
    box-shadow: 3px 3px 6px lightgray;

}


.div8{
    border: 1px solid lightgray;
    background-color:#fafafa;
    margin: 3px;
    border-radius: 20px;
    width: 120px;
    text-align: center;

}
.div8:hover{
    background-color: white;
    color: black;
    box-shadow: 3px 3px 6px lightgray;

}


.div9{
    border: 1px solid lightgray;
    background-color:#fafafa;
    margin: 3px;
    border-radius: 20px;
    width: 90px;
    text-align: center;

}
.div9:hover{
    background-color: white;
    color: black;
    box-shadow: 3px 3px 6px lightgray;

}


.div10{
    border: 1px solid lightgray;
    background-color:#fafafa;
    margin: 3px;
    border-radius: 20px;
    width:130px;
    text-align: center;

}
.div10:hover{
    background-color: white;
    color: black;
    box-shadow: 3px 3px 6px lightgray;


}


.div11{
    border: 1px solid lightgray;
    background-color:#fafafa;
    margin: 3px;
    border-radius: 20px;
    width: 170px;
    text-align: center;

}
.div11:hover{
    background-color: white;
    color: black;
    box-shadow: 3px 3px 6px lightgray;

}


.div12{
    border: 1px solid lightgray;
    background-color:#fafafa;
    margin: 3px;
    border-radius: 20px;
    width: 70px;
    text-align: center;

}
.div12:hover{
    background-color: white;
    color: black;
    box-shadow: 3px 3px 6px lightgray;

}
.videos1 iframe{
    width: 350px;
    height: 180px;
}
.videos1{
    width: 350px;
    margin: 10px;
    border: 1px solid red;

}
.videos2 iframe{
    width: 350px;
    height: 180px;
}
.videos2{
    width: 350px;
    margin: 10px;
    border: 1px solid red;

}
.videos3 iframe{
    width: 350px;
    height: 180px;
}
.videos3{
    width: 350px;
    margin: 10px;
    border: 1px solid red;

}
.videos4 iframe{
    width: 350px;
    height: 180px;
}
.videos4{
    width: 350px;
    margin: 10px;
    border: 1px solid red;
    display: block;

}
.videos5 iframe{
    width: 350px;
    height: 180px;
}
.videos5{
    width: 350px;
    margin: 10px;
    border: 1px solid red;
    display: block;

}
.videos6 iframe{
    width: 350px;
    height: 180px;
}
.videos6{
    width: 350px;
    margin: 10px;
    border: 1px solid red;
    display: block;

}
.videos7 iframe{
    width: 350px;
    height: 180px;
}
.videos7{
    width: 350px;
    margin: 10px;
    border: 1px solid red;
    display: block;

}
.videos8 iframe{
    width: 350px;
    height: 180px;
}
.videos8{
    width: 350px;
    margin: 10px;
    border: 1px solid red;
    display: block;

}
.videos9 iframe{
    width: 350px;
    height: 180px;
}
.videos9{
    width: 350px;
    margin: 10px;
    border: 1px solid red;
    display: block;

}
.videos10 iframe{
    width: 350px;
    height: 180px;
}
.videos10{
    width: 350px;
    margin: 10px;
    border: 1px solid red;
    display: block;

}
.videos11 iframe{
    width: 350px;
    height: 180px;
}
.videos11{
    width: 350px;
    margin: 10px;
    border: 1px solid red;
    display: block;

}
.videos12 iframe{
    width: 350px;
    height: 180px;
}
.videos12{
    width: 350px;
    margin: 10px;
    border: 1px solid red;
    display: block;

}
.vcontent{
    display: flex;
    justify-content: space-between;
}
.imge{
    /* border: 1px solid red; */
    width: 60px;
    text-align: center;
}
.imge img{
    width: 40px;
    height: 40px;
    border-radius: 100px;
}
.videoss{
    display: flex;
    border: 1px solid red;
    flex-wrap: wrap;
    justify-content: space-between;
}









